/* All styles for your header Components live here */

.header-container {
    display: flex;
    justify-content: center; 
    margin: 1%;
};

    .header {
        font-size: 1rem;
        justify-content: flex-start;
    };

    p {
        font-size: 1rem;
    };
    
    .logo {
        width: 5%;
    };

