/* 
  Write your styles/CSS for App.js here and import into the component that you need 
  IF you'd like to attempt to use less you'll have to research how to do this with Create React App
*/

.header-container {
  width: 50%;
  border: 5px solid purple;
  display: flex;
}


.header {
  width: 50%;
  font-size: .5rem;
  justify-content: flex-start;
  border: 5px dashed blue;
};


.header-img {
display: flex;
justify-content: flex-start;
border: 1px red solid;
};



.p1 {
  width: 50%;
  font-size: 1rem;
  border: 3px solid red;
  };

  .card-info {
    width: 50%;
  }
