.action {
 border: 1px solid gray;
 width: 400px;
 height: 100px;
}

.clear-btn {
 width: 300px;
 height: 100px;
 font-size: 2rem;
 position: relative;
 bottom: 36px;
}

.divide-btn {
 width: 100px;
 height: 100px;
 background-color: red;
}